l7/db.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="database" type="databaseType"/>
  <xs:complexType name="countryType">
    <xs:sequence>

      <xs:element name="name">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="[A-Za-z]+"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="population">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="2147447"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

      <xs:element name="square">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="2147487"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>

    </xs:sequence>
    <xs:attribute type="xs:int" name="id" use="required"/>
  </xs:complexType>

  <xs:complexType name="countriesType">
    <xs:sequence>
      <xs:element type="countryType" name="country" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="databaseType">
    <xs:sequence>
      <xs:element type="countriesType" name="countries"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
